@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

#windo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#header {
  max-height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  padding: 8px;
}

#header h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#container {
  max-width: 100%;
  flex-grow: 4;
  height: 100vh;
  display: flex;
  flex-direction: row;

  border-radius: 8px;
}
