@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

#windo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#header {
  max-height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  padding: 8px;
}

#header h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#container {
  max-width: 100%;
  flex-grow: 4;
  height: 100vh;
  display: flex;
  flex-direction: row;

  border-radius: 8px;
}
#container #drawer {
  min-width: 50px;
  width: 50px;

  flex-shrink: 1;

  transition: ease-in-out 0.2s;
  background-color: #f7f7f5;
  max-height: 45px;
}

#container div.open#drawer {
  width: 200px;
  max-height: 100vh;
}

#drawer #drawer_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 8px;
  border-radius: 5px;
}

div.open#drawer #drawer_header {
  justify-content: space-between;
}

#drawer #drawer_header h3 {
  display: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgb(55, 53, 47);
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: ease-in-out 0.2s;
}

div.open#drawer #drawer_header h3 {
  display: block;
  opacity: 1;
  text-wrap: nowrap;
}

/* make drawer_right arrow look like a right arrow*/
#drawer #drawer_header #right_arrow {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

div.open#drawer #drawer_header #right_arrow {
  opacity: 0;
  border-left: 0;
  border-right: 15px solid black;
  transition: 0.2 ease-in-out;
}

div.open#drawer:hover #drawer_header #right_arrow {
  opacity: 1;
}

#drawer #drawer_body {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow: hidden;
}

div.open#drawer #drawer_body {
  visibility: visible;
  overflow: hidden;
}

#drawer #drawer_body #file_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;

  width: 150px;
  gap: 1px;
}

#drawer #drawer_body #file_list .file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: nowrap;
  width: 100%;
  cursor: pointer;
  padding: 3px 10px;
}

#drawer #drawer_body #file_list .file:hover {
  background-color: #e8e6e1;
  border-radius: 2px;
}

#drawer #drawer_body #file_list .file #file_name {
  text-wrap: nowrap;
}

#drawer #drawer_body #file_list .file h3 {
  flex: 1 1 auto;
  white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: clip;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgb(55, 53, 47);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

div.open#drawer #drawer_body #file_list .file h3 {
  flex: 1 1 auto;
  white-space: nowrap;
  min-width: 0px;
  overflow: hidden;
  text-overflow: clip;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgb(55, 53, 47);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}

div.open#drawer #drawer_body #file_list .file #file_name {
  display: block;
}

#drawer #drawer_body #file_list .file.selected {
  background-color: #e8e6e1;
  border-radius: 5px;
}

#container #editor {
  flex-grow: 1;
  border: #000000 1px solid;
  overflow: hidden;
  border-left: none;
}

#container #editor #editor_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 8px;
  border-bottom: #f7f7f5 2px solid;
}

#container #editor #editor_header h3#editor_header_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
}

#container #editor #editor_window {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#container #editor #editor_window #editor_text {
  width: 50%;
  flex-grow: 1;

  padding: 8px;

  outline-style: none;
  border: none;
  resize: none;
  font-family: "Lato";

  display: flex;
  flex-direction: column;
}

#editor_text .text_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 100%;
}

#editor_text .text_row .text_row_number {
  min-width: 30px; /* Adjust the width as needed for your line numbers */
  text-align: right;
  line-height: 15px;
  padding-right: 20px;
  font-size: 13px;
}

#editor_text .text_row .text_row_text {
  display: inline-block;
  flex-grow: 1;
  height: 15px;

  border-radius: 0px;
  border: none;
  outline: none;
}

#editor_text .text_row .text_row_text:focus {
  outline: none;
}

#container #editor #editor_window #editor_preview {
  height: 100%;
  flex-grow: 10;
  padding: 8px;

  display: none;
  outline-style: none;
  border: none;
  resize: none;
  border-left: #f7f7f5 2px solid;
}

#container #editor textarea {
  width: 100%;
  height: 100%;

  padding: 8px;
  line-height: 1.2rem;

  outline-style: none;
  border: none;
  resize: none;
}

#editor_preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Lato";
}

#editor_preview h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  font-family: "Lato";
}
#editor_preview h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  font-family: "Lato";
}

#editor_preview h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000000;
  font-family: "Lato";
}

#editor_preview h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  font-family: "Lato";
}
